.question {
    justify-content: center;
    display: flex;
    height: 100px;
    align-items: center;
    background: #F8F8F8;
    span {
        font-weight: bold;
    }
}

.answer {
    #map {
        height: 300px;
    }
}