.question {
    justify-content: center;
    display: flex;
    height: 100px;
    align-items: center;
    background: #F8F8F8;
    span {
        font-weight: bold;
    }
}

#map {
    height: 300px;
}

.answer {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer-surface {
    .surface__input {
        border: none;
        border-bottom: 1px solid lightgrey;
        outline: none;
        text-align: center;
    }
}

.answer-isolation {
    .isolation__list {
        list-style-type: none;
        .isolation__item {
            .isolation__input {

            }
            .isolation__label {

            }
        }
    }
}

.answer-orientation {
    .orientation__list {
        list-style-type: none;
        .orientation__item {
            .orientation__input {

            }
            .orientation__label {

            }
        }
    }
}

.button__wrapper {
    display: flex;
    background: #F8F8F8;
    justify-content: center;
    height: 50px;
}

.button__wrapper button{
    height: 75%;
    border: 2px solid #4cae4c;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 6px;
    background-color: white;
    border-radius: 6px;
}

.button__wrapper button:hover{
    background-color: #5cb85c;
    color: white;
}

#line-chart {
    // width: 50%;
    min-width: 0;
}

#bar-chart {
    // width: 50%;
    min-width: 0;
}

#result{
    width: 100%;
    display: flex;
    flex-direction: row;
    #left {
        flex: 1;
        // float: left;
    }
    #right {
        flex: 1;
        // width: 50%;
        // float: right;
    }
}

// #right {
    table {
        border-collapse: collapse;
        width: 100%;
        height: 95%;
      }
      th, td {
        padding: 0.25rem;
        text-align: left;
        border: 1px solid #ccc;
      }
      tbody tr:nth-child(odd) {
        background: #eee;
      }
// }

.answer-element {
    flex-direction: column;
    th{
        text-align: center;
        // border: none;
    }
}

#addElementPaneles {
    height: 75%;
    border: 2px solid #4cae4c;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 6px;
    background-color: white;
    border-radius: 6px;
    padding: 10px;
}

.inputsPanel {
    border: none;
    border-bottom: 1px solid lightgrey;
}