:host {
    height: 100%;
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-areas:
        "wizard"
        "sections"; 
}

app-wizard {
    grid-area: wizard;
    position: fixed;
    width: 84%;
    background-color: white;
    z-index: 1000;
}

app-sections {
    grid-area: sections;
}